@model LJWebsite.Models.Entities.FixtureFunction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FixtureFunction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fixture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fixture.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ControllerFunction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ControllerFunction.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MultiChannel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MultiChannel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
